
body {
    display: flex;
    justify-content: center;
    background-color: greenyellow;
}



h1 {
    font-size: 3rem;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

span {
    animation: pisca .6s infinite alternate-reverse linear ;
    
}


@keyframes pisca {
    0%, 80% {
        color: blueviolet;
        text-shadow: none;
        opacity: 0;
    }
    100% {
        color: black;
        text-shadow:0 0 10px  red,
                    0 0 20px  red,
                    0 0 40px  red,
                    0 0 80px  red,
                    0 0 120px red,
                    0 0 160px red;
                    opacity: 1;
                
                }
}
